@import url('https://fonts.googleapis.com/css?family=Lato:300|Grand+Hotel');

* {
    font-family: Lato, sans-serif;
    font-weight: 500;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 60px; overflow: hidden;
}


.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-container {
    background-color: #000000;
    padding: 2em;
    margin-top: 2em;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    opacity: 1.0;
}

#invitation-details, #rsvp-form {
    margin-top: 2em;
    padding: 1em;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: .2em solid grey;
}


body {
    background: url('../images/invite-background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#invitation-body {
    background-color: #fff;
    padding-bottom: 2em;
    margin-top: 1em;
    margin-bottom: 2em;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#footer {
    padding-bottom: 30px;
}

.fancy {
    font-family: 'Grand Hotel';
    font-size: 1.5em;
}

.header-content-inner h1 {
    font-weight: 700;
    color: #2e2e2e;
    font-size: 60px;
    text-align: center;
    font-family: 'Lato';
}

.header-content-inner h2 {
    text-align: center;
    margin: 20px 0px;
}

@media (max-width: 700px) {
    .header-content-inner h1 {
        font-weight: 700;
        color: #2e2e2e;
        font-size: 30px;
        text-align: center;
    }

    .header-content-inner h2 {
        text-align: center;
        margin: 20px 0px;
        font-size: 20px;
    }
}

@media (min-width: 768px) {
    .form-group {
        font-size: 22px;
    }
}