{% extends 'base.html' %}
{% block page_content %}
    <div class="container" id="main">
        <h1 style="text-align: center; font-size: 49px;">Dashboard</h1>
        <table class="table table-striped">
            <tr>
                <td>Guests Attending / Possible</td>
                <td>{{ guests }} / {{ possible_guests }}</td>
            </tr>
            <tr>
                <td>Pending Invitations</td>
                <td>{{ pending_invites }} ({{ pending_guests }} guests)</td>
            </tr>
            <tr>
                <td>Unopened Invitations</td>
                <td>{{ unopened_invite_count }}<span class="text-muted"> / {{ total_invites }}</span></td>
            </tr>
            <tr>
                <td>Opened Save The Dates</td>
                <td>{{ opened_save_the_date_count }}<span class="text-muted"> / {{ total_save_the_dates }}</span></td>
            </tr>
            <tr>
                <td>Not Coming</td>
                <td>{{ not_coming_guests.count }}</td>
            </tr>
        </table>
    <div class="row">
            <div class="col-lg-12">
                <h1>Not Coming Guests</h1>
                <table class="table">
                {% if not_coming_guests.count == 0 %}
                    <tr>
                        <td>Nobody Isn't Coming Yet</td>
                    </tr>
                {% else %}
                    <tbody>
                    {% for guest in not_coming_guests %}
                        <tr>
                            <td>{{ guest.name }}</td>
                            <td>{{ guest.party }}</td>
                            <td>{{ guest.email }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                {% endif %}
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h1>Responded Parties</h1>
                <table class="table">
                {% if responded_parties.count == 0 %}
                    <tr>
                        <td>No Parties Responded Attending Yet</td>
                    </tr>
                {% else %}
                    <thead><tr>
                        <td>Name</td>
                        <td>Category</td>
                        <td>Is Attending</td>
                        <td>Comments</td>
                        <td>Date Responded</td>
                    </tr></thead>
                    <tbody>
                    {% for party in responded_parties %}
                        <tr>
                            <td>{{ party.name }}</td>
                            <td>{{ party.category }}</td>
                            <td>{{ party.is_attending }}</td>
                            <td style="width:422px;">{{ party.comments|default_if_none:"" }}</td>
                            <td>{{ party.responded_to_invitation }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                {% endif %}
                </table>
            </div>
        </div>
{#            <div class="col-lg-6">#}
{#                <h1>Meal choices</h1>#}
{#                <table class="table">#}
{#                    <thead>#}
{#                        <tr>#}
{#                            {% for meal in meal_breakdown %}#}
{#                            <th>{{ meal.meal }}</th>#}
{#                            {% endfor %}#}
{#                        </tr>#}
{#                    </thead>#}
{#                    <tbody>#}
{#                        <tr>#}
{#                            {% for meal in meal_breakdown %}#}
{#                            <td>{{ meal.count }}</td>#}
{#                            {% endfor %}#}
{#                        </tr>#}
{#                    </tbody>#}
{#                </table>#}
{#            </div>#}
        <div class="row">
            <div class="col-lg-6">
                <h1>Unopened Invitations</h1>
                {% if parties_with_unopen_invites.count == 0 %}
                    <table class="table">
                        <tr><td>No Unresponded Invitations</td></tr>
                    </table>
                {% else %}
                    {% with party_list=parties_with_unopen_invites %}
                        {% include "guests/partials/party_list.html" %}
                    {% endwith %}
                {% endif %}
            </div>
            <div class="col-lg-6">
                <h1>Open Unresponded Invitations</h1>
                {% if parties_with_open_unresponded_invites.count == 0 %}
                    <table class="table">
                        <tr><td>No Open and Unresponded Invitations</td></tr>
                    </table>
                {% else %}
                    {% with parties_with_open_unresponded_invites as party_list %}
                        {% include "guests/partials/party_list.html" %}
                    {% endwith %}
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h1>Guest Counts By Category</h1>
                <table class="table">
                {% if category_breakdown.count == 0 %}
                    <tr>
                        <td>No Guests Attending Yet</td>
                    </tr>
                {% else %}
                    <thead>
                        <tr>
                            {% for category in category_breakdown %}
                            <th>{{ category.party__category }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for category in category_breakdown %}
                            <td>{{ category.count }}</td>
                            {% endfor %}
                        </tr>
                    </tbody>
                {% endif %}
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h1>Unopened Save The Dates (confirm their email works)</h1>
                {% with party_list=unopened_save_the_date %}
                    {% include "guests/partials/party_save_the_date_list.html" %}
                {% endwith %}
            </div>
        </div>
{#        <div class="col-lg-6">#}
{#                <h1>Attending Guests Without Meals</h1>#}
{#                {% with guest_list=guests_without_meals %}#}
{#                    {% include "guests/partials/guest_list.html" %}#}
{#                {% endwith %}#}
{#            </div>#}
{#        </div>#}
    </div>
{% endblock %}