{% extends 'guests/email_templates/email_base.html' %}
{% load staticfiles %}
{% block header_image %}{% endblock %}
{% block lead_copy %}
    <tr>
        <td>
            <table border="0" cellpadding="0" cellspacing="0" align="center">
                <tbody>
                <tr>
                    <td class="padding-copy" align="center" style="
                            padding: 20px 0 0 0; font-size: 50px; line-height: 50px; font-weight: 500;
                            font-family: Caveat, Georgia, sans-serif; color: {{ font_color }};">
                        Dear {% for guest in party.ordered_guests.all %}{% if party.ordered_guests.all.count >= 2 and forloop.last %} and {% endif %} {{ guest.first_name }}{% endfor %},<br><br>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
{% endblock %}
{% block main_image %}
    {% with "invitation/images/"|add:main_image as main_static_url %}
        <a href="{% if email_mode %}{{ site_url }}{% endif %}{% url 'home' %}" target="_blank">
        <img src="{% if email_mode %}cid:{{ main_image }}{% else %}{% static main_static_url %}{% endif %}"
         alt="{{ couple }}"
         style="display: block; padding: 0; color: #666666; margin: 20px auto;"
         class="img-max" border="0"
         height="700" width="700"></a>
    {% endwith %}
{% endblock %}
{% block main_copy %}
    <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center">
        <tbody border="0" cellpadding="0" cellspacing="0" align="center">
        {% if party.is_attending %}
            {% if party.received_gifts is not None %}
                {% include 'guests/thank_you_partials/at_wedding_with_gift.html' %}
            {% else %}
                {% include 'guests/thank_you_partials/at_wedding_no_gift.html' %}
            {% endif %}
        {% elif party.received_gifts is not None %}
            {% include 'guests/thank_you_partials/not_at_wedding_with_gift.html' %}
        {% endif %}
        <tr><td style="
                    padding: 20px 0 0 0; font-size: 35px; line-height: 50px;
                    font-weight: 500;
                    font-family: Caveat, Georgia, sans-serif; color: {{ font_color }};"
                class="padding-copy" align="center">
        Love, Storm and Elise
        </td></tr>
        <tr><td><br></td></tr>
        </tbody>
    </table>
{% endblock %}
{% block footer_content %}
    {% if email_mode %}
        <p><a href="{{ site_url }}">{{ site_url }}</a></p>
    {% endif %}
{% endblock %}
