<tr>
    <td class="padding-copy" align="center" style="
            padding: 20px 0 0 0; font-size: 35px; line-height: 50px;
            font-weight: 500;
            font-family: Caveat, Georgia, sans-serif; color: {{ font_color }};">
        We wanted to let you know how thankful we are that you were able to spend our special day with us.
        It meant so much to have you there supporting and having fun with us.
    </td>
</tr>
<tr><td><br></td></tr>
<tr>
    <td class="padding-copy" align="center" style="
            padding: 20px 0 0 0; font-size: 35px; line-height: 50px;
            font-weight: 500;
            font-family: Caveat, Georgia, sans-serif; color: {{ font_color }};">
        Thank you from the bottom of our hearts for {{ party.received_gifts }}.
        We feel so blessed to have received that and pray that God blesses you tenfold.
    </td>
</tr>
<tr><td><br></td></tr>
{% if party.thank_you_extra_sentence %}
<tr>
    <td class="padding-copy" align="center" style="
            padding: 20px 0 0 0; font-size: 35px; line-height: 50px;
            font-weight: 500;
            font-family: Caveat, Georgia, sans-serif; color: {{ font_color }};">
        {{ party.thank_you_extra_sentence }}
    </td>
</tr>
<tr><td><br></td></tr>
{% endif %}
<tr>
    <td class="padding-copy" align="center" style="
            padding: 20px 0 0 0; font-size: 35px; line-height: 50px;
            font-weight: 500;
            font-family: Caveat, Georgia, sans-serif; color: {{ font_color }};">
        Thank you not only for the blessing you've been in our lives during our wedding, but especially in our lives
        leading up to that day. We are looking forward to celebrating more happy occasions with you.
    </td>
</tr>
<tr><td><br></td></tr>