<tr>
    <td class="padding-copy" align="center" style="
            padding: 20px 0 0 0; font-size: 35px; line-height: 50px;
            font-weight: 500;
            font-family: Caveat, Georgia, sans-serif; color: {{ font_color }};">
        Storm and I wanted to let you know how thankful we are for {{ party.received_gifts }} ​you gave us for our wedding!
        We feel so blessed to have received that and pray that God blesses you tenfold.
    </td>
</tr>
<tr><td><br></td></tr>
<tr>
    <td class="padding-copy" align="center" style="
            padding: 20px 0 0 0; font-size: 35px; line-height: 50px;
            font-weight: 500;
            font-family: Caveat, Georgia, sans-serif; color: {{ font_color }};">
        We feel so supported by the gift and now are more ready than ever to continue our newly merged lives
        together with your help. We missed seeing you on our big day but know that you were with us in spirit
        cheering us on just the same.
    </td>
</tr>
<tr><td><br></td></tr>
{% if party.thank_you_extra_sentence %}
<tr>
    <td class="padding-copy" align="center" style="
            padding: 20px 0 0 0; font-size: 35px; line-height: 50px;
            font-weight: 500;
            font-family: Caveat, Georgia, sans-serif; color: {{ font_color }};">
        {{ party.thank_you_extra_sentence }}
    </td>
</tr>
<tr><td><br></td></tr>
{% endif %}
<tr>
    <td class="padding-copy" align="center" style="
            padding: 20px 0 0 0; font-size: 35px; line-height: 50px;
            font-weight: 500;
            font-family: Caveat, Georgia, sans-serif; color: {{ font_color }};">
        We pray God's blessings upon you and hope to see you soon to thank you in person for your generosity.
    </td>
</tr>
<tr><td><br></td></tr>