<section id="ceremony">
    <h2 class="section-heading text-center">Saturday Afternoon Ceremony</h2>
    <hr class="primary">
    <dl class="dl-horizontal lead">
        <dt>What</dt>
        <dd>
            Come watch us join our lives together!
        </dd>
        <dt>When</dt>
        <dd>Saturday, December 28, at 1:30pm</dd>
        <dt>Where</dt>
        <dd>
            <address>
                Grace Point Church of God<br>
                <a href="https://goo.gl/maps/PBLyDVbE7ZqBZVpS6">720 62 St SW, Edmonton, AB T6X 0G3</a><br>
                Phone: 780-466-8290
            </address>
        </dd>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5654.382483453395!2d-113.43670720410356!3d53.42600330992676!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x93b8c372017caa2a!2sGrace+Point+Church+of+God!5e0!3m2!1sen!2sca!4v1563851367279!5m2!1sen!2sca"
                height="380px" frameborder="0" style="border:0; margin: 10px auto;display: block;width: 90%;" allowfullscreen></iframe>

        <dt>Parking</dt>
        <dd>There is parking available at the church.</dd>
        <dt>Other info</dt>
        <dd>
            There will be a break after the ceremony where hot chocolate and baking will be served.
            We will be taking some family photos and socializing with guests.
        </dd>
    </dl>
</section>


<section id="reception">
    <h2 class="section-heading text-center" style="margin-top:10px;">Saturday Evening Reception</h2>
    <hr class="primary">

    <dl class="dl-horizontal lead">
        <dt>What</dt>
        <dd>Celebrate our marriage at a Coloniale Golf Club in style! Let's party!</dd>
        <dt>When</dt>
        <dd>Saturday, December 28th, at 6:00pm. <br>Doors to the Coloniale open at 5:30pm for refreshments.</dd>
        <dt>Where</dt>
        <dd>
            <address>
                Coloniale Golf Club<br>
                <a href="https://goo.gl/maps/i3MnbD5rco5XF7ew9">10 Country Club Dr, Beaumont, AB T4X 1M1</a><br>
                Phone: 780-929-4653
            </address>
        </dd>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2381.0824684971376!2d-113.3942817016086!3d53.359678992584996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x53a01cbf973499f7%3A0x9884f3a8d57252da!2sColoniale+Golf+Club!5e0!3m2!1sen!2sca!4v1563854339136!5m2!1sen!2sca"
                    height="380px" frameborder="0" style="border:0; margin: 10px auto;display: block;width: 90%;" allowfullscreen></iframe>

        <dt>Parking</dt>
        <dd>Parking is available on-site at the Coloniale.</dd>
        {% comment %}
        <dt>Afterwards</dt>
        <dd>
            Guests wishing to continue celebrating with Cory and Rowena after the reception can
            head to the <a href="https://goo.gl/maps/a9uGVVQwqBT2">Sandtrap Pub and Grill</a>.
            Buses will also be dropping off there.
        </dd>
        {% endcomment %}
    </dl>
{% comment %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Sunday</h2>
                <hr class="primary">
                <p>
                    Cory and Rowena will be headed to Niagara Falls on Sunday.
                    Anyone who wants to join them is welcome.
                    Details will be coordinated via Whatsapp.
                </p>
            </div>
        </div>
    </div>
{% endcomment %}
</section>
