{% load staticfiles %}
<div class="container">
        <h2 class="section-heading text-center">Registries</h2>
        <hr class="primary">
        <p>
            We are registered at
            <a href="https://www.bedbathandbeyond.ca/store/giftregistry/viewregistryguest/547729097?eventType=Wedding">Bed Bath and Beyond</a>
            and <a href="https://registry.thebay.com/registry/view-registry/elise_tailleur">The Bay</a>.<br><br>

            If you'd like to give cash, we will be putting monetary gifts towards our honeymoon as well as new
            furniture for our condo. If you'd like to give through e-transfer, please use the email
            <a href="mailto:stormkaefer@gmail.com">stormkaefer@gmail.com</a>.<br><br>

            Thank you for helping us get on our feet, we really appreciate it :)
        </p>
    <h2><a href="https://www.bedbathandbeyond.ca/store/giftregistry/viewregistryguest/547729097?eventType=Wedding">Link to Bed Bath and Beyond Registry</a></h2>
    <h2><a href="https://registry.thebay.com/registry/view-registry/elise_tailleur">Link to The Bay Registry</a></h2>
{#        <div class="row">#}
{#            <div class="col-lg-6 col-sm-6">#}
{#                <div class="charity-box">#}
{#                    <img src="{% static 'bigday/images/charities/la-strada.jpg' %}" class="img-responsive" alt="" style="padding-top: 60px;">#}
{#                    <h3>Bed Bath and Beyond</h3>#}
{#                    <p>#}
{#                        Bed Bath and Beyond has #}
{#                    </p>#}
{#                    <p>#}
{#                        TO DONATE: La Strada Ukraine currently does not have a good international donations platform.#}
{#                        In order to minimize excessive international wire transfer fees, guests who wish to donate to La Strada can give cash (CAD or USD) or cheques (Canadian or American) addressed to Rowena in the gift box available at the wedding.#}
{#                        Please write 'La Strada' clearly on the memo line of the cheque or in the card.#}
{#                        We'll ensure the money is safely and directly delivered to La Strada.#}
{#                    </p>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-lg-6 col-sm-6">#}
{#                <div class="charity-box">#}
{#                    <img src="{% static 'bigday/images/charities/spark.jpg' %}" class="img-responsive" alt="">#}
{#                    <h3>Spark Microgrants - NO</h3>#}
{#                    <p>#}
{#                        <a href="http://www.sparkmicrogrants.org/">Spark MicroGrants</a> is a small NGO pioneering a new method of community development.#}
{#                        Spark supports rural poor communities to design, implement and manage their own social impact projects.#}
{#                        They provide micro-grants of between $2,000-$10,000 to enable project implementation, such as of a school, electricity line or farm.#}
{#                        No interest or repayment of the funds granted is requested.#}
{#                        To date Spark has partnered with over 100 communities in Rwanda, Uganda, and Burundi who have developed local project plans and are in the process of implementing them.#}
{#                    </p>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}

</div>
