<header id="second-header" class="secondary"></header>
<h5 class="text-center text-muted">The view of Hout Bay from from Chapman's peak the day we got engaged.</h5>
<section id="proposal">
    <div class="container">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">The Proposal</h2>
            <hr class="primary">
            <p>
                In April this year, Storm and I had discussed the prospect of marriage, so I was anticipating it, but he
                still did a good job of making it a surprise. <3 It was a rare sunny May weekend in Edmonton and Storm
                asked if I wanted to go for a walk in the river valley. He planned it so nicely and found us several
                spots to explore. Several times we stopped at iconic, gorgeous places in Edmonton and at most of these
                stops I anticipated a proposal. On the way back to the car he said, "Did you think I was going to
                propose today?" I replied, "maayyybbeee" (I was 99% certain it would happen actually haha). He said
                "Sorry honey! Not today." Hahaha Storm likes things done well and at the right time and I definitely
                wasn't going to argue with that!<br><br>

                Fast forward to the next weekend (May 26), we went to church that morning, had lunch with the Kaefers,
                did some clean up - pretty ordinary day. I didn't understand why until later but he seemed suspiciously
                nervous most of the morning, for instance, bouncing his leg more than usual and looking at his watch a
                lot. He then asked if I wanted to go for a walk. I honestly didn't think much of it - we go for walks a
                lot and it was evident from the previous weekend that it was certainly not how he was going to propose
                LOLOL.<br><br>

                He drove us downtown and up to a street where multi-million dollar houses looked out onto the river
                valley. It was super toasty out and the sky was bright and clear - an even better day than the weekend
                before. We walked to the edge of a cliff to admire this GORGEOUS view of the river valley that I had no
                idea existed in Edmonton (Storm had scouted this spot from the restaurant, La Ronde, and wouldn't settle
                for any other place). There were cherry blossom trees dropping petals everywhere and it was so lovely I
                felt like I never wanted to leave. Storm said, "Wow this is beautiful, I really want to sit on that
                bench over there." I suspected something was up at that point - he didn't drive all that way to sit on
                the bench ;D . However, some joggers came by, and he said forget it let's walk straight down to the
                river (I later learned that he was adamant that there would be no people around - he knows my love of
                the wild haha). He took me by the hand and gently led me down a path to the river, basically carrying me
                down because it was pretty steep.<br><br>

                We sat on the warm, flat rocks by the river and watched the lethargic movement of the water for quite a
                while, but he didn't propose so I thought we should go hike more, then I'd just have to wait for another
                day to get asked haha. I got up and was about to head back up the hill. I turned to sweep the dust off
                my bum from the rocks then heard Storm say, "Lise?" I spun around and he was on one knee asking me to
                marry him. I can't remember how many times I said "oh my gosh" - and I think I finally said yes? You'll
                have to ask Storm haha but I do remember his sweet, happy smile that makes me melt every time I see it,
                and the most stunning and elegant ring I could have imagined, glistening like the sun. He also had to
                hold me up because I was pretty shook and would have fallen off the rocks into the river lol. We took a
                ton of pictures with the view from the top of the cliff, then got slurpees afterwards :D <br><br>

                It was everything I wanted because it was Storm in every way, and because he knew exactly what would
                make it romantic for me. A magical start to a magical life with my dream man!
            </p>
        </div>
    </div>
</section>
