<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Our Story</h2>
            <hr class="primary">
            <p>
                It all started on May 21, 2018 at a classic Josh Mueller birthday party. Everything was pretty standard:
                Josh's mom made
                some cinnamon buns, we were playing some German lawn game, and there were a lot of friends. <br><br>

                I (Storm) knew that Josh had been a part of this small group from the project (along with friends Jason,
                Josh, and Brianna) for a while now, and (luckily for me haha) decided to invite over some other friends
                he had made there! Elise just so happened to be one of those friends.<br><br>

                Later that evening around the (propane) campfire, I happened to sit next to Elise and Jason who were
                chatting. I didn't know Elise, and so I introduced myself, and at the time I had no clue I was meeting
                my future wife! Now, you know how some people don't believe in instant attraction ever working out?
                They're completely full of it, because Elise and I hit it off instantly and we still enjoy talking about
                this to this day. With some help from Jason Ramer and Tana Reimer, we discussed topics from our
                favourite worship music to how Google home devices are ethical, and everything in between. We even
                chatted about Elise's potential plans to go to England in the fall to teach (WOW this would have been
                rough if she still ended up going through with that), and how our family dynamics played a part in
                making us who we are today (special shoutout to Tana for helping us go deeper than we ever thought we
                would that night haha). Both Elise and I talked for about 4 hours late into the evening, and it just
                wasn't enough. I knew I was completely enamoured by her.<br><br>

                Instantly the next morning I sent her a message on Facebook, and that next week we exchanged so many
                messages about so many different things you could a fill a full length novel that would make even J.R.R
                Tolkien jealous. But my thumbs were hurting!! Texting that much is difficult! I needed to talk to her
                face to face, so the next Saturday, I asked her if she'd be interested in going out that evening. She
                was busy playing synth at a worship gig, but she still wanted to go so we went out afterwards!<br><br>

                That evening, we walked and talked for a few hours and really got to know each other. I came to see the
                depths of Elise's character and how she cares for her family and others, and I've never related to
                anybody that deeply ever. I was also extremely impressed by her knowledge of Halo and musical skills, as
                well as her love for personality tests! (I'm an ENFJ and she's an INFJ, but we both flip around the E
                and I sometimes depending on how we feel haha).<br><br>

                After one more date at Ryan's year end Jazz concert at the Yardbird Suite with the Littlebirds, we
                realized that we needed things between us to be official, so over a mojito pitcher at Earls we decided
                that we were dating! Easily the one of the best decisions I've ever made, right next to deciding to
                marry her :)<br><br>

                We appreciate all of the friends who helped us meet and come together. We are very grateful for every
                single one of you!
            </p>
        </div>
    </div>
</div>
