{% load staticfiles %}
<section id="wedding-party" class="bg-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">The Bridal Party</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static "bigday/images/storm/brianna-r-cropped-min.jpg" %}" class="img-responsive" style="margin: auto;" alt="">
                    <h3>Marissa Tailleur - Maid of Honor</h3>
                    <p>
                        Marissa is definitely as sweet and gentle as she first comes across - but I have the privilege
                        of also knowing her to be a fierce friend, loyal in every situation, and as stubborn as they
                        come. It's pretty rare to find someone that loves everyone they meet and never has a bad word to
                        say about anyone, but one of these rare souls is my sister and one of my best friends. Her art
                        is amazing, and Asian soups divine - if you're ever going anywhere in Asia, bring Marissa. Also
                        don't borrow her erasers (even if you return it she will notice it's out of place hahaha).
                    </p>
                    <br>
                    <p>Best memories include:</p>
                    <ul style="padding-left: 20px;">
                        <li>Her role as "Luke Walker" in Car Wars (the environmental Star Wars)</li>

                        <li>Streaking around the house together as children when guests were over</li>

                        <li>Playing Barbies for endless hours</li>

                        <li>Backpacking in Tonquin and Thunderwater</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static "bigday/images/storm/brianna-r-cropped-min.jpg" %}" class="img-responsive" style="margin: auto;" alt="">
                    <h3>Chloe Tailleur</h3>
                    <p>
                        My favourite Christmas present. Originally disappointed she wasn't a brother, later realizing
                        that I'd be completely lost in the water without my fashion/beauty consultant, adviser on why
                        I'm being dumb, and personal comedian. I can't imagine my life without the countless laughs and
                        deep insight Chloe has gifted me with throughout the years. Seriously the gift that keeps on
                        giving. Spicy and sweet, this one's passion for justice, family, and sleep is scary and
                        beautiful all at once. ;)
                    </p>
                    <br>

                    <p>Best memories include:</p>
                    <ul style="padding-left: 20px;">
                        <li>Fooling women at the beach into thinking she was a dead sailor (aka "Laddie")</li>

                        <li>Her Russian accent - (especially when she tells the joke about the dog being traded for a pack
                        of gum because it can read LOLOLOL)</li>

                        <li>Being surprised out of our shorts by turtles in Hawaii while snorkeling</li>

                        <li>Gardening days :)</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static "bigday/images/storm/brianna-r-cropped-min.jpg" %}" class="img-responsive" style="margin: auto;" alt="">
                    <h3>Brianna Ramer</h3>
                    <p>
                        One of my best friends. When we first met, neither of us could believe how much our lives and
                        interests lined up - a match made in heaven <3 Aside from having an angelic voice and looks to
                        boot, she has a serious heart for worship and children's ministry and is not afraid to challenge
                        her friends in their walk with Christ. Always game to play duets, eat ice cream, and dive into
                        deep reflective conversations - sorry guys, this woman is no longer available (recently married
                        to another good friend of mine - Josh Ramer!)
                    </p>
                    <br>

                    <p>Best memories include:</p>
                    <ul style="padding-left: 20px;">
                        <li>All our shopping excursions</li>

                        <li>Our fitness adventures (eg: Doing our 5K run! (or walk haha) & our Elk Island hike/truck picnic
                            haha)</li>

                        <li>Leading worship together <3</li>

                        <li>Starting up a service Bible study group for women and being the only members XD</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static "bigday/images/storm/lindsay-w-cropped.jpg" %}" class="img-responsive" style="margin: auto;" alt="">
                    <h3>Lindsay Walsh</h3>
                    <p>
                        Lindsay has been one of my best friends since moving to Edmonton. We met at a young adults event
                        at church and I instantly knew I found a kindred spirit connected through our mutual passion for
                        adventures, following Jesus, and being super quirky ;) . One of the things I love most about her
                        is her genuineness - she doesn't feel the need to hide her beliefs or thoughts on life, and her
                        passion for leading a life like Jesus's is super inspirational and makes me want to be better!
                        The perfect combination of hilarious and gorgeous.
                    </p>
                    <br>

                    <p>Best memories include:</p>
                    <ul style="padding-left: 20px;">
                        <li>Ski trips to Marmot!!!</li>

                        <li>Being interrupted in the middle of the Titanic LOL</li>

                        <li>Hot dog roasts and talks by the fire</li>

                        <li>Earls dates <3</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="wedding-party">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">The Groomsmen</h2>
                <p>I wouldn't be who I am without these men. Let's meet them.</p>
                <hr class="primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static "bigday/images/storm/dawson-k-cropped-min.jpg" %}" class="img-responsive" style="margin: auto;" alt="">
                    <h3>Dawson Kaefer - Best Man</h3>
                    <p>
                        Dawson is the middle Kaefer brother and my best man! He's currently halfway through his
                        engineering degree and if I would ever choose a man to lead a group of people to solitude in a
                        post-apocalyptic world, it'd be him. We lived together at my grandmas house for a year while
                        going to university, and he consistently played the best playlists known to man (yes even that
                        country playlist). He loves hiking and adventuring outdoors, and Elise and I are excited to go
                        on a backcountry hiking trip with him (and his 4runner) one day! Dawson, you are so awesome.
                        Never change.
                    </p>
                    <br>

                    <p>Best memories include:</p>
                    <ul style="padding-left: 20px;">
                        <li>Literally all of the home videos we made together</li>
                        <li>Going camping in sub zero temperatures</li>
                        <li>Shredding it up in Revelstoke!!!</li>
                        <li>Always being goofballs together</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="{% static "bigday/images/storm/raikiki.jpg "%}">
                        <img src="{% static "bigday/images/storm/ryan-k-cropped-min.jpg" %}" class="img-responsive" style="margin: auto;" alt="">
                    </a>
                    <h3>Ryan Kaefer</h3>
                    <p>Ryan is the youngest Kaefer brother. He's a stellar musician and an absolute charmer; his smile
                        lights up a room. Ladies he's single! Ryan has always loved me, and his fierce faith and challenging
                        questions have helped me grow as a person. He always tells it to me like it is, and I've
                        used him as a general decision advisor for many years now without pay. He's away at bible
                        school until April, but he's coming home just for this wedding! Thanks Ryan! You're a gem.
                    </p>
                    <br>

                    <p>Best memories include:</p>
                    <ul style="padding-left: 20px;">
                        <li>Playing Jazz and worship gigs together (and getting mad at each other when we're late haha)</li>
                        <li>Dueling with lightsabers when he was like 5 years old, and had perfect technique from watching too much star wars</li>
                        <li>Being able to lead him and all of his friends at youth</li>
                        <li>Always being goofballs together</li>
                        <li>Always forcing the whole family to watch home videos together</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static "bigday/images/storm/josh-b-cropped-min.jpg" %}" class="img-responsive" style="margin: auto;" alt="">
                    <h3>Joshua Belter</h3>
                    <p>Josh and I have known each other since we were infants, and
                        ever since then we've made people cry (with joy) with our silly sense of humour. We've experienced
                        vacation bible school together as kids, made Craig Robertson's life hard as youth, and still
                        made Craig Robertson's life hard leading together as youth leaders. Josh's kindness and
                        faithfulness have challenged and inspired me through the years, and I'm honored to have him stand
                        with me on my wedding day. Also I thank him so much for starting the Big ol Ballas haha

                    </p>
                    <br>

                    <p>Best memories include:</p>
                    <ul style="padding-left: 20px;">
                        <li>Playing Toad's Treasure tracker together (and every other game!)</li>
                        <li>Spending countless hours laughing together online (Especially on the Big Ol Yacht)</li>
                        <li>Being ridiculous together at pretty much every single youth/church event, to the point that
                        people probably think we're slightly insane (we are)</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static "bigday/images/storm/luke-phillips.jpg" %}" class="img-responsive" style="margin: auto;" alt="">
                    <h3>Luke Phillips</h3>
                    <p>Luke is an extremely kind-hearted and generous friend that isn't afraid at all to completely
                        annihilate you with chirps when you do something dumb; and I love it! :D I've been fortunate
                        to have him as a friend for many years, and I'm constantly impressed and inspired by his wisdom in
                        the things he does. We've done many silly and stupid things together (along with Josh
                        and the other Big ol Ballas), and I look forward to doing many more things together but now with our
                        wives haha

                    </p>
                    <br>

                    <p>Best memories include:</p>
                    <ul style="padding-left: 20px;">
                        <li>Fusion Frenzy at 2am in his basement with Josh and Brannon and Peter</li>
                        <li>Spending countless hours laughing together online (Easily the most luscious luke I know)</li>
                        <li>Trying to translate Korean together and failing hard</li>
                        <li>All the good times at the cabin</li>
                        <li>Watching him get married to Alicia :)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
